.nav-list {
  list-style: none;
  display: flex;
  width: 50%;
}

.nav-list-item {
  flex: 0 1 100px;
}

// Overrides
h1.title {
  font-style: normal;
  font-size: 40px;
  font-family: inherit;
}

body {
  background: $background-color;
  font-family: $base-font-family;
}

.download-bar,
footer .owner {
  background: $color-primary-blue;
}

a {
  color: $color-primary-black;

  &:hover {
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }
}
